{{ attach_library('accessibility_theme/site-logo') }}

<div class="site-logo">
  <a href="{{ link }}" rel="home" class="site-logo__link">
    {%- include '@accessibility_theme/site-logo/mediacurrentlogo.svg' -%}
  </a>
</div>
