<section class="social-icons">
  <h3 class="social-icons__heading">Follow Mediacurrent on social media</h3>
  <address>
    <ul class="social-icons__icons">
      {% for network in networks %}
        <li class="social-icons__item" data-network="{{ network.className }}">
          <a href="{{ network.url }}">{{ network.followText }}</a>
        </li>
      {% endfor %}
    </ul>
  </address>
</section.
