// Import site utilities.
@import '../../global/utils/init';

.pl-js-pattern-example,
.social-icons {
  background-color: $color-navy-blue;
}

.social-icons__list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.social-icons__item {
  width: 56px;
  height: 56px;
}
