// Social media icons
//
// Icon links to social media networks in the footer.

// Import site utilities.
@import '../../global/utils/init';

$available-icons: ['facebook', 'instagram', 'linkedin', 'pinterest', 'twitter', 'youtube'];

.social-icons__heading {
  @include element-invisible;
}

.social-icons__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons__item {
  display: none;
  width: 56px;
  height: 56px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  @each $icon in $available-icons {

    &[data-network='#{$icon}'] {
      display: block;
      background-image: url('../images/#{$icon}.svg');
    }
  }

  a {
    @include hide-text;
    width: 100%;
    height: 100%;
    border-radius: 9999px;

    &:hover,
    &:active,
    &:focus {
      background-color: rgba(white, 0.1);
    }
  }
}
