// Import site utilities.
@import '../../global/utils/init';

.social-icons {
  background-color: $color-navy-blue;
}

.social-icons__list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;

  // Adds dark background color to icons in patternalb.
  .pl-js-pattern-example & {
    background-color: $color-navy-blue;
  }
}

.social-icons__item {
  width: 56px;
  height: 56px;
}
