// Import site utilities.
@import '../../global/utils/init';

.site-header {
  background-color: rgba($color-white, 0.6);
}

.site-header__inner {
  display: flex;
  max-width: $bp-max;
  margin: 20px;
  width: 100%;

  // Centers entire page after 1961px
  @include breakpoint($bp-max + 41px) {
    margin: 20px auto;
  }
}
