{{ attach_library('accessibility_theme/card') }}

<section class="card {{- attributes ? attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  {% if heading %}
    {%
      include '@accessibility_theme/heading/heading.twig' with {
        "heading": heading
      } only
    %}
  {% endif %}

  <div class="card__items">
    {% block card__items %}
      {% for item in items %}
        {% include '@accessibility_theme/card/_card-item.twig' with {
          item: item
          } only
        %}
      {% endfor %}
    {% endblock %}
  </div>

  {{ button_text }}
</section>
