// Import site utilities.
@import '../../global/utils/init';

.hero {
  position: relative;

  @include breakpoint($bp-sm) {
    margin-top: -80px;
  }
}

.hero__content-wrapper {
  background-color: rgba($color-ocean-blue, 0.6);
  padding: 0;
  width: 100%;
  z-index: 1;

  @include breakpoint ($bp-md) {
    display: flex;
    flex-grow: 1;
    left: 0;
    padding-bottom: 2.4rem;
    position: absolute;
    top: calc(50% - 100px);
    width: 60%;
  }
}

.hero__content {
  background-color: $color-white;
  color: $color-navy-blue;
  margin: 0 auto;
  padding: 1.6rem;
  text-align: center;
  transform: translateY(-1.6rem);
  width: 90%;

  @include breakpoint ($bp-md) {
    margin: 0;
    margin-left: auto;
    margin-top: -2.4rem;
    margin-right: -2.4rem;
    padding: 3.2rem;
    text-align: left;
    transform: none;
    width: 70%;
  }
}

.hero__heading {
  margin-bottom: 0.8rem;
}

.hero__body {
  font-weight: 300;

  @include breakpoint ($bp-md) {
    font-size: 2.4rem;
  }
}
