// Import site utilities.
@import '../../global/utils/init';

.hero {
  position: relative;
}

.hero__content-wrapper {
  background-color: rgba($color-ocean-blue, 0.6);
  position: relative;
  z-index: 1;

  @include breakpoint ($bp-md) {
    background-color: transparent;
  }
}

.hero__content {
  background-color: $color-white;
  color: $color-navy-blue;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
  transform: translateY(-1.6rem);
  width: 90%;

  @include breakpoint ($bp-md) {
    left: 20rem;
    margin: 0;
    margin-top: -40%;
    max-width: 70rem;
    padding: 32px;
    position: absolute;
    text-align: left;
    transform: none;
    width: 100%;
  }

  &::before {

    @include breakpoint ($bp-md) {
      background-color: rgba($color-ocean-blue, 0.6);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      margin-left: -20rem;
      position: absolute;
      top: 2.4rem;
      width: 87.5rem;
      z-index: -1;
    }
  }
}

.hero__eyebrow {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.hero__heading {
  margin-bottom: 8px;
}

.hero__body {
  font-weight: 300;

  @include breakpoint ($bp-md) {
    font-size: 2.4rem;
  }
}
