// Import site utilities.
@import '../../global/utils/init';

.hero {
  position: relative;
}

.media-item__image {
  img {
    width: 100%;
  }
}

.hero__content-wrapper {
  position: relative;
  z-index: 1;
}

.hero__content {
  background-color: $color-white;
  color: $color-navy-blue;
  left: 20rem;
  margin-top: -40%;
  max-width: 70rem;
  padding: 32px;
  position: absolute;
  text-align: left;
  border: 1px solid;

  &::before {
    background-color: rgba(0, 126, 154, 0.6);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    margin-left: -20rem;
    position: absolute;
    top: 2.4rem;
    width: 87.5rem;
    z-index: -1
  }
}

.hero__eyebrow {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.hero__heading {
  margin-bottom: 8px;
}

.hero__body {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.625;
}
