// Footer
//
// The main footer component.

// Import site utilities.
@import '../../global/utils/init';

.footer {
  padding: 60px 20px 20px;
  background: $color-mediacurrent-primary;
  color: $color-white;

  a {
    color: $color-white;
  }
}

.footer__container {
  margin: 0 auto;
  max-width: 1008px;
}

.footer__content {
  display: flex;
  flex-flow: row wrap;

  @include breakpoint($bp-xsm) {
    justify-content: space-around;
  }

  @include breakpoint($bp-md) {
    display: flex;
    justify-content: space-between;
  }

  & > div {
    margin-bottom: 30px;

    @include breakpoint($bp-lg) {
      margin-bottom: 72px;
    }
  }

  .footer__subcontent {
    margin-bottom: 0;
    width: 100%;

    @include breakpoint($bp-md) {
      display: flex;
      justify-content: space-between;
    }

    @include breakpoint($bp-lg) {
      margin-bottom: 0;
    }
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  width: 100%;

  @include breakpoint($bp-sm) {
    width: auto;
  }

  .site-logo__icon {
    fill: $color-white;
  }
}

.footer__contact {
  display: flex;
  justify-content: center;
  width: 100%;

  @include breakpoint($bp-xsm) {
    width: auto;
  }
}

.footer__contact--links {

  a {
    text-decoration: none;
  }
}

.footer__contact--address {
  @include breakpoint($bp-xsm) {
    margin-right: 30px;
  }

  @include breakpoint($bp-md) {
    margin-right: 0;
  }
}

.footer__social {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include breakpoint($bp-md) {
    width: 300px;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer__copyright {
  text-align: center;
}
