{{ attach_library('accessibility_theme/accordion') }}

{%
  set classes = [
    'accordion__wrapper',
  ]
%}

{# Preserve the Drupal attributes if they're available. #}

{% set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"' %}

<section {{ attributes|raw }}>
  <div class="accordion__container">
    {% block heading %}
      {% if heading %}
        <div class="accordion__title">
          {%
            include '@accessibility_theme/heading/heading.twig' with {
              "heading": heading
            } only
          %}
        </div>
      {% endif %}
    {% endblock %}

    <div class="accordion__items">
      {% block accordion_list %}
        {% for item in accordion_items %}
          {%
            include '@accessibility_theme/accordion/accordion-item.twig' with {
              id: item.id,
              title: item.title,
              body: item.body
            } only
          %}
        {% endfor %}
      {% endblock %}
    </div>

  </div>
</section>
