{{ attach_library('accessibility_theme/accordion') }}

<div class="accordion__wrapper{{ attributes ? ' ' ~ attributes.class}}"
{{- attributes ? attributes|without(class) -}}>
  <div class="accordion__container">
    {% block heading %}
      {% if heading %}
        {%
          include '@accessibility_theme/heading/heading.twig' with {
            "heading": heading
          } only
        %}
      {% endif %}
    {% endblock %}


    {% block accordion_items %}
      {% for item in items %}
        {%
          include '@accessibility_theme/accordion/_accordion-item.twig' with {item: item} only
        %}
      {% endfor %}
    {% endblock %}
  </div>
</section>
