// Colors.
//
// All Sass color variables prefixed with $color-.
// This makes it easy to figure out what a variable
// is for later.
//
// If you need help naming colors check out:
// http://chir.ag/projects/name-that-color/

// Standard.
$color-white: #fff;
$color-black: #000;

// Primary.
$color-navy-blue: #042535;
$color-deep-blue: #ec5f67;
$color-ocean-blue: #f99157;
$color-cyan-blue: #fac863;
$color-blue-gray: #99c794;
$color-tech-gray: #5fb3b3;

// Grays.
$color-gray-dk: #343d46;
$color-gray-mid: #4f5b66;
$color-gray-lt: #65737e;
$color-gray-xlt: #a7adba;
