// Colors.
//
// All Sass color variables prefixed with $color-.
// This makes it easy to figure out what a variable
// is for later.
//
// If you need help naming colors check out:
// http://chir.ag/projects/name-that-color/

// Standard.
$color-white: #fff;
$color-black: #000;

// Primary.
$color-navy-blue: #012635;
$color-deep-blue: #003954;
$color-ocean-blue: #007e9a;
$color-cyan-blue: #02a3c0;
$color-blue-gray: #99b0ba;
$color-tech-gray: #ccd7dd;

// Grays.
$color-gray-dk: #343d46;
$color-gray-mid: #4f5b66;
$color-gray-lt: #65737e;
$color-gray-xlt: #a7adba;
