<form class="form-example">
  <div class="form-example__text">Standard Form</div>
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname">
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname">
  <input type="submit" value="Submit" class="button">
</form>
<form class="form-example display-none">
  <div class="form-example__text">Labels set to display none</div>
  <label for="fname1">First name:</label>
  <input type="text" id="fname1" name="fname1">
  <label for="lname1">Last name:</label>
  <input type="text" id="lname1" name="lname1">
  <input type="submit" value="Submit" class="button">
</form>
<form class="form-example">
  <div class="form-example__text">No Labels</div>
  <input type="text" id="fname1" name="fname1">
  <input type="text" id="lname1" name="lname1">
  <input type="submit" value="Submit" class="button">
</form>